language: node_js
node_js:
  - "0.10"
before_install:
  - npm install -g bower
  - npm install -g grunt-cli
  - bower install
before_script:
 - npm test
 - grunt jasmine:coverage
script:
 - grunt coveralls