<button ng-click="enableCalendar()">{{selectedDate}}</button>
<div ng-show="calendarEnabled">
    <div>
        <span>
            From <input type="text"> to <input type="text">
        </span>
        <span>Prior : </span>
        <!--button ng-repeat="previous in previousRange">{{previous}}</button-->

    </div>

    <table ng-repeat="month in monthArray" style="display: inline-block;" >
        <thead>
            <tr>
                <th colspan="7">{{monthNames[$index]}}</th>
            </tr>
            <tr>
                <th ng-repeat="dayName in dayNames">{{dayName}}</th>
            </tr>

        </thead>
        <tbody>
            <tr ng-repeat="days in month">
                <td ng-repeat="day in days"
                    ng-class="{calendarMouseOver: hover, calendarSelectedDaily: day.isSelected}"
                    ng-mouseenter="hover = true"
                    ng-mouseleave="hover = false"
                    ng-click="setDayClick(day)"
                >{{day.date.getDate()}}</td>

            </tr>

        </tbody>
    </table>
    <div>
        <button>
            Cancel
        </button>
        <button>
            Apply
        </button>
    </div>
</div>