$selected-color: #217f9f;

.turn-calendar-mouse-over {
    background-color: rgba(114, 206, 235, 0.3);
}
.turn-calendar-selected-daily {
    background-color: $selected-color;
    color: #ffffff;
}

.turn-calendar-selected-weekly {
    background-color: $selected-color;
    color: #ffffff;
}

.turn-calendar-selected-monthly {
    background-color: $selected-color;
    color: #ffffff;
}

.turn-calendar-unavailable {
    color: #c4c3c3;
}

.turn-calendar-table {
    border-collapse: collapse;
    border-spacing: 0;
    text-align: center;
    margin-right: 5px;
    margin-left: 5px;
    float: left;
}

.turn-calendar-div {
    border: 1px solid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    margin-top: 5px;
    display: inline-block;
}

.turn-calendar-input {
    border-bottom: 1px solid;
    margin-bottom: 10px;
    padding: 5px;
}

.turn-calendar-input-box {
    width: 100px;
}

.turn-calendar-navigation {
    display: inline-block;
    height: 150px;
    position: relative;
    float: left;
    width: 30px;
    background-color: rgba(196, 195, 195, .3);
}

.turn-calendar-navigation-left {
    @extend .turn-calendar-navigation;
    margin-left: 10px;
    margin-right: 5px;
}

.turn-calendar-navigation-right {
    @extend .turn-calendar-navigation;
    margin-left: 5px;
    margin-right: 10px;
}

.turn-calendar-arrow {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    margin: auto;
    position: relative;
    top: 40%;
}
.turn-calendar-arrow-right {
    @extend .turn-calendar-arrow;
    border-left: 15px solid grey;
}

.turn-calendar-arrow-left {
    @extend .turn-calendar-arrow;
    border-right: 15px solid grey;
}

.turn-calendar-submit {
    clear: both;
    float: right;
    margin: 10px;
}
